<%- include('../header.ejs') %>

<div class="banner">
    <img src="./assets/images/about.jpg" alt="">
</div>

<div class="container-fluid mt-5">
    <div class="container">
        <div class="about">
            <p>
                The MISHRA INSTITUTE OF TECHNOLOGY are central government owned public technical institutes located across India. They are under the ownership of Ministry of Education, Government of India. They are governed by the Institutes of Technology Act, 1961, which has declared them as Institutes of National Importance and lays down their powers, duties, and framework for governance as the country's premier institutions in the field of Technology.The Institutes of Technology Act, 1961 currently lists twenty-three AAs. Each AA is autonomous, linked to the others through a common council (AA Council), which oversees their administration. The Minister of Education, India is the ex officio Chairperson of the AA Council. However the increasing population in India has increased the competition in the recent years. The exams conducted for entering AA, JEE Main and JEE Advanced have a huge competition.
                <br><br>
                On the recommendations of the Sarkar Committee, four campuses were established at Bombay (1958), Madras (1959), Kanpur (1959), and Delhi (1961). The location of these campuses was chosen to be scattered throughout India to prevent regional imbalance. The Indian Institutes of Technology Act was amended to reflect the addition of new AAs Student agitations in the state of Assam made Prime Minister Rajiv Gandhi promise the creation of a new AA in Assam. This led to the establishment of a sixth institution at Guwahati under the Assam Accord in 1994. In 2001, the University of Roorkee was converted into AA Roorkee Over the past few years, there have been several developments toward establishing new AAs. On 1 October 2003, Prime Minister Atal Bihari Vajpayee announced plans to create more AAs "by upgrading existing academic institutions that have the necessary promise and potential". Subsequent developments led to the formation of the S K Joshi Committee, in November 2003, to guide the selection of the five institutions which would be converted into AAs. Based on the initial recommendations of the Sarkar Committee, it was decided that new AAs should be spread throughout the country. When the government expressed its willingness to correct this regional imbalance, 16 states demanded AAs. Since the S K Joshi Committee prescribed strict guidelines for institutions aspiring to be AAs, only seven colleges were selected for final consideration. Plans are also reported to open AAs outside India, although there has not been much progress in this regard. Eventually in the 11th Five year plan, eight states were identified for establishment of new AAs.
            </p>
        </div>
    </div>
</div>

<br><br>
<%- include('../footer.ejs') %>