<%- include('./leftsidebar.ejs') %>

    <h1 style="color: #455a64e0;font-size: 60px;font-family: emoji;font-variant: small-caps;text-align: center; letter-spacing: 3px;"> Hi there, <%= n %> !<br> Welcome To Admin Portal
    </h1>

